@import "../../env/config.styl"
{$sideBar-prefix}{
  width: 260px;
  background: #fff;
  transition: width 0.39s ease;
  box-shadow: 0 0 4px 0 #ccc;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
}