.wrapper-login {
  min-height: 100vh;
  background-image: url('../../assets/login/login_bg.png');
  background-size: 100% 260px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.login-body {
  background: #FFFFFF;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 600px;
  height: 600px;
  padding: 32px 64px;
  background-color: #eef1f8;
}
.ant-form-item {
  // margin-bottom: 32px;
}
.login-type {
  display: flex;
  margin: 32px 0;
  text-align: center;
  justify-content: space-between;
  align-items: stretch;

  .ant-tabs-nav {
    .ant-tabs-nav-wrap {
      .ant-tabs-nav-list {
        .ant-tabs-tab {
          font-size: 18px;
        }
      }
    }
  }
}
.forgot-password {
  font-size: 14px;
  margin-bottom: 8px;
  margin-left: auto;
  width: fit-content;
  text-align: right;
  cursor: pointer;
}
.image-code {
  width: 100px;
  background-color: #fff;
  height: 41px;
}
.third-party-login {
}
.wrapper-title {
  position: relative;
  margin: 16px auto;
  text-align: center;
  border-bottom: 1px solid #666;
  width: 300px;
}
.wrapper-title span {
  display: inline-block;
  position: relative;
  background-color: #eef1f8;
  padding: 0 16px;
  top: 12px;
}
.wrapper-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.wrapper-list li {
  margin: 8px;
  cursor: pointer;
}
