.edit-user {
  background-color: #fff;
  padding: 16px;
  border-radius:2px;
  min-height: calc(100vh - 206px);
  .title {
    font-size: 18px;
  }
  .user-base-info {
    margin: 16px 0;
    border: 1px solid #dbdfe7;
    border-radius: 4px;
    padding: 16px;
    .user-base-info-1 {
      margin: 8px 0;
      display: flex;
      justify-content: space-between;
      .large-text {
        font-size: 20px;  
      }
    }
    .user-base-info-2 {
      margin: 8px 0;
      display: flex;
      justify-content: space-between;
      div {
        flex: 1;
      }
    }
  }
  .user-info, .permission-info {
    margin: 16px 0;
    border: 1px solid #dbdfe7;
    border-radius: 4px;
    padding: 16px;
  }
  .end-list {
    list-style: none;
    margin: 16px 0; 
    padding: 4px 8px;
    line-height: 32px;
  }
}