.manage {
  background-color: #fff;
  border-radius: 2px;
  padding: 16px;

  & .search-container {
    background-color: #e8e8e8;
    margin-bottom: 16px;
    padding: 24px 24px 0px;
  }

  & .options-container {
    margin: 16px 0;

    .search-options {
      text-align: right;
    }

    .search-options button {
      margin-left: 8px;
    }
  }
}
