$header-bg=#131A3E
$primary-color= #1890ff
$header-prefix= '.page-header'
$footer-prefix= '.page-footer'
$sideBar-prefix= '.page-side-bar'
$crumbs-prefix= '.page-crumbs'
:export{
  headerPrefix:$header-prefix
  sideBarPrefix:$sideBar-prefix
  crumbsPrefix:$crumbs-prefix
  footerPrefix:$footer-prefix
}
