@import "../../env/config.styl"
{$crumbs-prefix}{
  width: 100%;
  height: 64px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-left: 1em;
  .md{
    font-size: 18px;
    padding-left: 8px;
    &.pointer{
      cursor: pointer;
      &:hover{
        color: $primary-color
      }
    }
  }
}